<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/app :: main-layout(  
                                                ~{::title},
                                                ~{:: #styles},
                                                ~{:: #mainContent},
                                                ~{:: #scripts}
                                               )}">

<head>
<title>Errors</title>
<th:block id="styles">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- DataTables -->
	<link rel="stylesheet" th:href="@{adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" th:href="@{adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<!-- summernote -->
	<link rel="stylesheet" th:href="@{adminlte/plugins/summernote/summernote-bs4.css}" href="plugins/summernote/summernote-bs4.css">
	<style></style>
</th:block>
</head>

<body>
	<th:block id="mainContent">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">Errors</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item active">Errors</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Main row -->
					<div class="row">
						<section class="col-lg-12 connectedSortable">

							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Ops!</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<h1>404</h1>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->

						</section>
					</div>
					<!-- /.row (main row) -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</th:block>
	<th:block id="scripts">
		<!-- Summernote -->
		<script th:src="@{adminlte/plugins/summernote/summernote-bs4.min.js}" src="plugins/summernote/summernote-bs4.min.js"></script>
		<!-- DataTables -->
		<script th:src="@{adminlte/plugins/datatables/jquery.dataTables.min.js}" src="../../plugins/datatables/jquery.dataTables.min.js"></script>
		<script th:src="@{adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}" src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
		<script th:src="@{adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js}" src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
		<script th:src="@{adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}" src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
		<!-- page script -->
		<script>
            $(function () {
                $("#example1").DataTable({
                    "responsive" : true,
                    "autoWidth" : false,
                });
                $('#example2').DataTable({
                    "paging" : true,
                    "lengthChange" : false,
                    "searching" : false,
                    "ordering" : true,
                    "info" : true,
                    "autoWidth" : false,
                    "responsive" : true,
                });
            });
        </script>
	</th:block>
</body>

</html>