<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="main-layout (title, styles, mainContent, scripts)">

<head>
    <meta charset="UTF-8" />
    <title th:replace="${title}"></title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- STYLES -->
    <th:block th:replace="${styles} ?: ~{}"></th:block>
</head>

<body>

    <!-- Navigation -->
    <div id="home-nav" th:replace="~{thymeleaf/layouts/navbar :: navbar}">
        Home Nav
    </div>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div th:replace="~{thymeleaf/layouts/sidebar :: sidebar}"></div>
            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-9">
                <div th:insert="${mainContent} ?: ~{}"></div>
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer th:replace="~{thymeleaf/layouts/footer :: footer}">
        <p>Footer</p>
    </footer>

    <!-- SCRIPTS -->
    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- CUSTOM SCRIPTS -->
    <th:block th:insert="${scripts} ?: ~{}"></th:block>

</body>

</html>