<!-- Navigation -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
    xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <a class="navbar-brand" href="/">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services" th:href="@{/services}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" th:href="@{/contact}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>