/*--------------------------------------------------------------
# Style 
# @author Mai Thành Duy An [tiachop0102@gmail.com]
--------------------------------------------------------------*/





/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    /* border-radius: 50px; */
    border: solid 1px #000;
    right: 15px;
    bottom: 15px;
    background: #fff;
    color: #000;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
  }
  
  .fa-angle-up {
    font-size: 25px;
    position: absolute;
    top: 7px;
    left: 10px;
  }
  
  .back-to-top:hover {
    color: #fff;
    background: #1E1E1E;
    transition: background 0.2s ease-in-out;
  }