/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Author: Mai Thành Duy An
 * Email: tiachop0102@gmail.com
 */
body {
  padding-top: 56px;
}
a{
  color: #000;
}
a:hover{
  color: #E00A32;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  display: none;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: solid 1px crimson;;
  right: 19px;
  bottom: 25px;
  background: #fff;
  color: crimson;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 9px;
  left: 14px;
}

.back-to-top:hover {
  color: #fff;
  background: darkred;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar{
  color: #191919;
  border-bottom: 1px solid #e1e1e1;
  opacity: .8;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  padding-right: 5px;
}

.navbar-brand{
  color: #E00A32;
}
nav .navbar {
  opacity: 0.8 ;
}
@media (max-width: 768px) {
  a .nav-link{
    margin-right: 0;
  }
}

.dropdown-menu .dropdown-item{
   color: #191919;
}

.dropdown-menu .dropdown-item:hover{
  /* background-color: #000; */
  color: crimson;
}
/*--------------------------------------------------------------
# Avatar
--------------------------------------------------------------*/
.avatar{
  border-radius: 50%;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #090910;
  font-size: 14px;
  background: #eff2f8;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #eff2f8;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #090910;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #FF2D20;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #C41A1A;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #090910;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #525257;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #090910;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #9fb2d8;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #525257;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #FF2D20;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #FF2D20;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #27282c;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
  color: #090910;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #090910;
}

@media (max-width: 768px) {
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
    padding: 5px 0;
  }
}

#footer .footer-bottom{
  border-top: 1px solid #e1e1e1;
}